@*
Whenever editing we need id, which in this case is an integer, and therefore model accepts int.    
*@

@model int

<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model">Update</button>
    </div>
    <div class="col">
        <a class="btn btn-success form-control" asp-action="Index">Back to List</a>
    </div>
</div>